@model HomePageViewModel

@{
    ViewData["Title"] = "GASTEC";
    Layout = "_Layout";
}


<!-- Page Title-->
<section class="page-title" style="background-image:url('../../wwwroot/public/assets/softextwo/images/background/news.jpg');">
    <div class="auto-container">

        <!-- <h1>أحدث الأخبار</h1>-->
    </div>
</section>

<!-- End Page Title-->
<!-- Page Info-->
<div class="page-info">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb pull-right">
                <li><a href="@Url.Action("Index", "Home")">الرئيسية</a></li>
                <li>
                    أخبار وفاعليات غازتك
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Info-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar">
                    <div id="sideevents">
                        <!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title"><h2>آخر الأخبار</h2></div>
                            @foreach (var topic in Model.NewsTopics.LstNews.Take(10))
                            {
                                <!--//Start backend to retrieve variables  -->
                                <article class="post">
                                    <figure class="post-thumb">
                                        <a href="@Url.Action("NewsDetails", "Home", new { serial_ = topic.Serial})">
                                            <img src="~/Images/MediaCenter_NewsSection/@topic.ImageGUID" alt="">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <a href="@Url.Action("NewsDetails", "Home", new { serial_ = topic.Serial})">
                                            @topic.NewsTitle
                                        </a>
                                    </div>
                                    <div class="post-info">@topic.TopicDate.ToShortDateString()</div>
                                </article>
                            }
                        </div>
                    </div>
                </aside>
            </div>
            <!--Content Side-->
            <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                @foreach (var entity in Model.News_Details)
                {
                    <section class="services-section" style="padding:0">
                        <div class="auto-container">
                            <div class="single-item-carousel owl-carousel owl-theme owl-loaded owl-drag">
                                @foreach (var image in entity.LstImages)
                                {
                                    <div class="testimonial-block" >
                                        <div class="inner-box">
                                            <div class="upper-box">
                                                <div class="image">
                                                    <img src="~/Images/News/@image.ImageGUID"  alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </section>
                }
                <div class="services-single" dir="rtl">
                    <div class="inner-box">
                        <div id="events1">
                            <div class="blog-classic padding-right" style="padding-right:0;">
                                <!--Large Image Posts-->
                                <div class="large-image-posts">
                                    <!--News Block Three-->
                                    <div class="news-block-three">
                                        <div class="inner-box">
                                            @foreach (var entity in Model.News_Details)
                                            {
                                                <div class="lower-content">
                                                    <div class="lower-box">
                                                        <p style="color: #999">
                                                            <i class="fa fa-calendar"></i> @entity.TopicDate.ToShortDateString()
                                                        </p>
                                                        <h3>
                                                            <a href="#">
                                                                @entity.NewsTitle
                                                            </a>
                                                        </h3>
                                                        @Html.Raw(entity.body)

                                                        <a href="@Url.Action("AllNews","Home")" class="theme-btn read-more" style="float: left;direction: rtl;font-size: 18px;">
                                                            عرض جميع الأخبار<span class="icon flaticon-left-arrow" style="margin-right: 10px;font-size: 20px;vertical-align: sub;">
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>