@model HomePageViewModel

@{
    ViewData["Title"] = "GASTEC";
    Layout = "_Layout";
}


<!-- Page Title-->
<section class="page-title" style="background-image:url('../../wwwroot/public/assets/softextwo/images/background/news.jpg');">
    <div class="auto-container">

        <!-- <h1>أحدث الأخبار</h1>-->
    </div>
</section>

<!-- End Page Title-->
<!-- Page Info-->
<div class="page-info">
    <div class="auto-container">
        <div class="inner-container clearfix">
            @if (Gastech_Vault.TranslationLanguageID == 0)
            {

                <ul class="bread-crumb pull-right">
                    <li><a href="@Url.Action("Index", "Home")">الرئيسية</a></li>
                    <li>
                        أخبار وفاعليات غازتك
                    </li>
                </ul>
            }
            else
            {
                <ul class="bread-crumb pull-left">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>
                        GASTEC Events and News
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
<!-- End Page Info-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            @if (Gastech_Vault.TranslationLanguageID == 0)
            {

                <!-- Slider Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-left">
                    <aside class="sidebar">
                        <div id="sideevents">
                            <!-- Popular Posts -->
                            <div class="sidebar-widget popular-posts">
                                <div class="sidebar-title"><h2>آخر الأخبار</h2></div>
                                @foreach (var topic in Model.NewsTopics.LstNews.Take(10))
                                {
                                    <!--//Start backend to retrieve variables  -->
                                    <article class="post">
                                        <figure class="post-thumb">
                                            <a href="@Url.Action("NewsDetails", "Home", new { serial_ = topic.Serial})">
                                                <img src="~/Images/MediaCenter_NewsSection/@topic.ImageGUID" alt="">
                                            </a>
                                        </figure>
                                        <div class="text">
                                            <a href="@Url.Action("NewsDetails", "Home", new { serial_ = topic.Serial})">
                                                @topic.NewsTitle
                                            </a>
                                        </div>
                                        <div class="post-info">@topic.TopicDate.ToShortDateString()</div>
                                    </article>
                                }
                            </div>
                        </div>
                    </aside>
                </div>
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                    <div class="services-single" dir="rtl">
                        <div class="inner-box">
                            <div id="events1">
                                <div class="blog-classic padding-right" style="padding-right:0;">
                                    <!--Large Image Posts-->
                                    <div class="large-image-posts">

                                        <!--News Block Three-->
                                        <div class="news-block-three">
                                            <div class="inner-box">
                                                <div class="image">
                                                    @foreach (var entity in Model.News_Details)
                                                    {
                                                        <a href="#" alt="@entity.LstImages.Select(x=>x.Image_AltText).FirstOrDefault()" title="@entity.NewsTitle">
                                                            <img src="~/Images/News/@entity.LstImages.Select(x=>x.ImageGUID).FirstOrDefault()" alt="">
                                                        </a>
                                                    }
                                                </div>
                                                @foreach (var entity in Model.News_Details)
                                                {
                                                    <div class="lower-content">
                                                        <div class="lower-box">
                                                            <p style="color: #999">
                                                                <i class="fa fa-calendar"></i>
                                                                @entity.TopicDate.ToShortDateString()
                                                            </p>
                                                            <h3>
                                                                <a href="#">
                                                                    @entity.NewsTitle
                                                                </a>
                                                            </h3>
                                                            @foreach (var webSection in entity.WebSections)
                                                            {
                                                                @Html.Raw(webSection.Body)
                                                                <p dir="rtl">&nbsp;</p>

                                                                @foreach (var image in webSection.LstImages)
                                                                {
                                                                    <img src="~/Images/News/@image.ImageGUID" style="height:400px; width:500px; padding:5px" />
                                                                }
                                                                <p dir="rtl">&nbsp;</p>
                                                            }

                                                        </div>
                                                    </div>
                                                }
                                                <a href="@Url.Action("AllNews","Home")" class="theme-btn read-more" style="float: left;direction: rtl;font-size: 18px;">
                                                    عرض جميع الأخبار<span class="icon flaticon-left-arrow" style="margin-right: 10px;font-size: 20px;vertical-align: sub;">
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
            else
            {

                <!-- Slider Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-right">
                    <aside class="sidebar">
                        <div id="sideevents">
                            <!-- Popular Posts -->
                            <div class="sidebar-widget popular-posts">
                                <div class="sidebar-title"><h2>Latest News</h2></div>
                                @foreach (var topic in Model.NewsTopics.LstNews.Take(10))
                                {
                                    <!--//Start backend to retrieve variables  -->
                                    <article class="post">
                                        <figure class="post-thumb">
                                            <a href="@Url.Action("NewsDetails", "Home", new { serial_ = topic.Serial})">
                                                <img src="~/Images/MediaCenter_NewsSection/@topic.ImageGUID" alt="">
                                            </a>
                                        </figure>
                                        <div class="text">
                                            <a href="@Url.Action("NewsDetails", "Home", new { serial_ = topic.Serial})">
                                                @topic.NewsTitle
                                            </a>
                                        </div>
                                        <div class="post-info">@topic.TopicDate.ToShortDateString()</div>
                                    </article>
                                }
                            </div>
                        </div>
                    </aside>
                </div>
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-left">
                    <div class="services-single" dir="ltr">
                        <div class="inner-box">
                            <div id="events1">
                                <div class="blog-classic padding-left" style="padding-right:0;">
                                    <!--Large Image Posts-->
                                    <div class="large-image-posts">

                                        <!--News Block Three-->
                                        <div class="news-block-three">
                                            <div class="inner-box">
                                                <div class="image">
                                                    @foreach (var entity in Model.News_Details)
                                                    {
                                                        <a href="#" alt="@entity.LstImages.Select(x=>x.Image_AltText).FirstOrDefault()" title="@entity.NewsTitle">
                                                            <img src="~/Images/News/@entity.LstImages.Select(x=>x.ImageGUID).FirstOrDefault()" alt="">
                                                        </a>
                                                    }
                                                </div>
                                                @foreach (var entity in Model.News_Details)
                                                {
                                                    <div class="lower-content">
                                                        <div class="lower-box">
                                                            <p style="color: #999">
                                                                <i class="fa fa-calendar"></i>
                                                                @entity.TopicDate.ToShortDateString()
                                                            </p>
                                                            <h3>
                                                                <a href="#">
                                                                    @entity.NewsTitle
                                                                </a>
                                                            </h3>
                                                            @foreach (var webSection in entity.WebSections)
                                                            {
                                                                @Html.Raw(webSection.Body)
                                                                <p dir="ltr">&nbsp;</p>

                                                                @foreach (var image in webSection.LstImages)
                                                                {
                                                                    <img src="~/Images/News/@image.ImageGUID" style="height:400px; width:500px; padding:5px" />
                                                                }
                                                                <p dir="ltr">&nbsp;</p>
                                                            }

                                                        </div>
                                                    </div>
                                                }
                                                <a href="@Url.Action("AllNews","Home")" class="theme-btn read-more" style="float: right;direction: ltr;font-size: 18px;">
                                                    View All News <span class="icon flaticon-right-arrow-1" style="margin-right: 10px;font-size: 20px;vertical-align: sub;">
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>